size(pixels) {
  width pixels
  height pixels
}

placeholder-color($color)
  &::-webkit-input-placeholder 
    color $color
  
  &:-moz-placeholder 
    color $color
  
  &::-moz-placeholder 
    color $color
  
  &:-ms-input-placeholder 
    color $color

retina-bg(namespace, extension = 'png') {
  background-image url(namespace+'.'+extension)
  background-image -webkit-image-set(url(namespace+'.'+extension) 1x, url(namespace+'@2x'+'.'+extension) 2x)
}

bg-contain() {
  background-size contain
  background-position center center
  background-repeat no-repeat
}

bg-cover() {
  background-size cover
  background-position center center
}

bg-filter($value) {
  -webkit-filter $value
  filter $value
}

default-font()
  font-family "Avenir", "Helvetica-Neue", Helvetica, sans-serif !important
  
readableText()
  font-family "Tisa", Georgia, "Times New Roman", serif
  font-size 18px
  line-height 34px
  font-weight 400
  color $readable-color
  text-rendering optimizeLegibility
  word-wrap break-word

// Used in text-editor component
forceReadableText() {
  font-family "Tisa", Georgia, "Times New Roman", serif !important
  font-size 18px !important
  line-height 34px !important
  color $readable-color !important
}

// Used for animating display: none in pure CSS
display-hide() {
  opacity 0
  visibility hidden
  pointer-events none
  transition opacity 0.3s, visibility 0s linear 0.5s
}
display-show() {
  opacity 1
  visibility visible
  pointer-events auto
  transition-delay 0s
}

unselectable() {
  -webkit-touch-callout none
  -webkit-user-select none
  -khtml-user-select none
  -moz-user-select none
  -ms-user-select none
  user-select none
}

icon-font()
  font-family "ludu-font" !important
  content attr(data-icon)
  font-style normal !important
  font-weight normal !important
  font-variant normal !important
  text-transform none !important
  speak none
  line-height 1
  font-smoothing antialiased
  
