html
  head
    meta(charset='utf-8')
    title Genesis Block Consultancy
    meta(name='description', content='We build things on the block chain.')
    meta(name='viewport', content='width=device-width, initial-scale=1')
 
    link(rel='stylesheet', href='/css/app.css')
    script(src='/bower_components/jquery/dist/jquery.min.js')
    script(src='/js/index.js')

  body

    header
      .logo

    section.top
      h1 We build things on the block chain.

      a.mail(href="mailto: business@genesisblock.se") Contact us

    section.features
      ul.page-container
        li
          .icon.education
          .info
            h2 Education
            p We offer training and education in form of presentations or hands on workshops to help you understand and leverage blockchain technology.
        li
          .icon.research
          .info
            h2 Research & Development
            p We help you research, design and implement blockchain technology.
        li
          .icon.strategy
          .info
            h2 Strategy
            p We help you analyze and understand how blockchains could affect your business and how you can leverage the technology. As well as give strategic advise on how to positions yourself.
        li
          .icon.presentation
          .info
            h2 Presentations
            p We offer education

    section.founder
      .page-container
        .avatar
        .info-box
          p Genesis Block Consultancy was founded by
          h2 Ludvig Öberg
          h3 Chromaway advisor, co-founder of Safello and host of various Bitcoin events
          a.learn(href="http://ludvigoberg.me", target="_blank")
            | Learn more
        .clearfix

    footer
      .page-container
        .copyright 
          .logo
          | Copyright, Genesis Block Consultancy
        .social
          a.facebook(href="https://www.facebook.com/genesisblock/", target="_blank")
          a.twitter(href="https://twitter.com/GenesisBlockSE", target="_blank")
          a.linkedin(href="https://www.linkedin.com/company/genesis-block-consultancy", target="_blank")
        .clearfix
